[Unit]
Description=HDMI cable hotplug

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/local/bin/hdmi_cable_toggled.sh

[Install]
WantedBy=multi-user.target
